@font-face {

    font-family: EccentricStd;
    
    font-family: Minimo;
    
    font-family: MoongladeDemoBold-jOzM;

    font-family: Raleway-Medium;
    
    src: url(./fonts/EccentricStd.otf);
    
    src: url(./fonts/Minimo.otf);
    
    src: url(./fonts/MoongladeDemoBold-jOzM.ttf);

    src: url(./fonts/Raleway-Medium.ttf)
    
    }

    /* --------------------------------Loading--Screen------------ */

    .loader--div {
        /* display: flex; */
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: black;
        display: none;
      }
      
      .loader {
        width: 16px;
        height: 16px;
        box-shadow: 0 30px, 0 -30px;
        border-radius: 4px;
        background: currentColor;
        display: block;
        position: relative;
        transform: translate(-150%, -20px);
        color: #3aa6ca;
        box-sizing: border-box;
        animation: animloader 2s ease infinite;
      }
      
      .loader::after,
      .loader::before {
        content: '';
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        box-shadow: 0 30px, 0 -30px;
        border-radius: 4px;
        background: currentColor;
        color: #3aa6ca;
        position: absolute;
        left: 30px;
        top: 0;
        animation: animloader 2s 0.2s ease infinite;
      }
      
      .loader::before {
        animation-delay: 0.4s;
        left: 60px;
      }
      
      @keyframes animloader {
        0% {
          top: 0;
          color: #3aa6ca;
        }
      
        50% {
          top: 30px;
          color: #4bc6e576;
        }
      
        100% {
          top: 0;
          color: #3aa6ca;
        }
      }
      




/* ------------------------------NavBar-------------------- */


* {

       box-sizing: border-box;
    
       margin: 0;
    
       padding: 0;
       
       scroll-behavior: smooth;

       /* overflow-x: n; */
    
    }
 
    
    
    
    
    .navbar {
    
       background-color: #131313;
    
       height: 80px;
    
       display: flex;
    
       justify-content: center;
    
       align-items: center;
    
       font-size: 1.2rem;
    
       position: sticky;
    
       top: 0;
    
       z-index: 999;
        
       font-family: Minimo;

    
    
    }
    #navbar{
        position: sticky;
    }
    
    .nav--logo{
        width: 80px;
    }
    
    
    .navbar_container {
    
       display: flex;
    
       justify-content: space-between;
    
       height: 80px;
    
       z-index: 1;
    
       width: 100%;
    
       max-width: 1300px;
    
       margin: 0 auto;
    
       padding: 0 50px;
    
    }
    
    
    
    
    #navbar__logo {
    
       background-color: #ff8177;
    
       background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    
       background-size: 100%;
    
         -webkit-background-clip: text;
    
         -moz-background-clip: text;
    
         -webkit-text-fill-color: transparent;
    
         -moz-text-fill-color: transparent;
    
       display: flex;
    
       align-items: center;
    
       cursor: pointer;
    
       text-decoration: none;
    
       font-size: 2rem;
    
    }
    
    
    
    
    .navbar__menu {
    
       display: flex;
    
       align-items: center;
    
       list-style: none;
    
    
    
    
    }
    
    
    
    
    .navbar__item {
    
       height: 80px;

    
    
    
    }
    
    
    
    
    .navbar__links {
    
       color: #fff;
    
       display: flex;
    
       align-items: center;
    
       justify-content: center;
    
       width: 125px;
    
       text-decoration: none;
    
       height: 100%;
    
       transition: all 0.5s ease;
    
    }
    
    
    
    
    .navbar__btn {
    
       display: flex;
    
       justify-content: center;
    
       align-items: center;
    
       padding: 0 1rem;
    
       width: 100%;
    
    }
    
    
    
    
    .button {
    
       margin-top: 2px;
    
       display: flex;
    
       justify-content: center;
    
       align-items: center;
    
       text-decoration: none;
    
       padding: 10px 20px;
    
       height: 100%;
    
       border: none;
    
       outline: none;
    
       border-radius: 4px;
    
       background: #833ab4;
    
       background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    
       background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    
       color: #fff;
    
       transition: all 0.3s ease;
    
    }
    
    
    
    
    .navbar__links:hover {
    
       color: #9518fc;
    
       transition: all 0.3s ease;
    
    }
    
    /* =============================Media queries for NavBar only====== */
    
    
    @media screen and (max-width: 960pX) {
    
         .navbar_container {
    
             display: flex;
    
             justify-content: space-between;
    
             height: 80px;
    
             z-index: 1;
    
             width: 100%;
    
             max-width: 1300px;
    
             padding: 0;
    
         }
    
    
    
    
         .navbar__menu {
    
             display: grid;
    
             grid-template-columns: auto;
    
             width: 100%;
    
             margin: 0;
            
            left: 0;

             position: absolute;
    
             top: -1000px;
    
             opacity: 1;
    
             transition: all 0.5s ease;
    
             z-index: -1;
    
         }
    
    
    
    
         .navbar__menu.active {
    
             background: #131313;
    
             top: 100%;
    
             opacity: 1;
    
             transition: all 0.5s ease;
    
             z-index: 99;
    
             height: 60vh;
    
             font-size: 1.6rem;
    
         }
    
    
    
    
         #navbar__logo {
    
             padding-left: 25px;
    
         }
    
    
    
    
         .navbar__toggle .bar {
    
             width: 25px;
    
             height: 3px;
    
             margin: 5px auto;
    
             transition: all 0.3s ease-in-out;
    
             background: #fff;
    
         }
    
    
    
    
         .navbar__item {
    
             width: 100%;
    
         }
    
    
    
    
         .navbar__links {
    
             text-align: center;
    
             padding: 2rem;
    
             width: 100%;
    
             display: table;
    
         }
    
    
    
    
         .navbar__btn {
    
             padding-bottom: 2rem;
    
         }
    
    
    
    
         .button {
    
             display: flex;
    
             justify-content: center;
    
             align-items: center;
    
             width: 80%;
    
             height: 80px;
    
             margin: 0;
    
         }
    
    
    
    
         #mobile-menu {
    
             position: absolute;
    
             top: 20%;
    
             right: 5%;
    
             transform: translate(5%, 20%);
    
         }
    
    
    
    
         .navbar__toggle .bar {
    
             display: block;
    
             cursor: pointer;
    
         }
    
    
    
    
         #mobile-menu.is-active .bar:nth-child(2) {
    
             opacity: 0;
    
         }
    
    
    
    
         #mobile-menu.is-active .bar:nth-child(1) {
    
             transform: translateY(8px) rotate(45deg);
    
         }
    
    
    
    
         #mobile-menu.is-active .bar:nth-child(3) {
    
             transform: translateY(-8px) rotate(-45deg);
    
         }
    
    }
/* ======================== First Page===================== */

.main--div{
    overflow-x: hidden; /* dadadad */
    padding-top: 20px;
    min-height: 100vh;
   
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first--p{
    font-size: 20px;
     font-family: "Minimo";
}
.header--main{
    display: flex;
    border-right: 6px solid #3aa6ca;
    margin-bottom: 40px;
    font-family: 'Raleway', sans-serif;
    color: #3aa6ca;
    text-transform: uppercase;
}
.background--text--E--one{
    font-size: 780px;
    position: absolute;
    color: #000000;
    opacity: 0.1;
    right: 0;
    font-family: 'MoongladeDemoBold-jOzM';
    top: -120px;
}
.content--column{
    margin-bottom: 90px;
}
.background--img{
    background-image: url('https://images.unsplash.com/photo-1443933223857-9ca346228f72?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1335&q=80');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* =================secound-Page=========== */

.secound--page{
    min-height:  100vh;
    display: flex;
    background-color: #3aa6ca;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header--secound--page{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}
.background--text--E{
    font-size: 780px;
    position: absolute;
    color: #114793;
    opacity: 0.1;
    right: 0;
    font-family: 'MoongladeDemoBold-jOzM';
    top: 720px;
}
.secound--page--p{
    width: 800px;
    font-size: 20px;
    font-family: minimo;
    color: white;
}
.secound--page--p--content{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.secound--header{
    font-weight: 400;
    color: white;
    font-family: 'moonglade-demo';
    font-size: 30px ;
}
.secound--span--big{
    font-size: 55px;
}
.grid--section--secound{
    display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 50px; 
  grid-template-areas: 
    ". ."; 
    margin:30px 0 30px 0;
}
.left--grid--sec{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "."
      "."; 
}
.right--grid--sec{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "."
      "."; 
}
.grid--sec{
display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."; 
    margin-bottom: 10px;
}
.img--grid--left{
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}
.img--grid--right{
    display: flex; 
    justify-content: start; 
    align-items: center;
}
.nano--tech--left{
    height: 100px;
    border-radius: 20px;
    width: 100px;
    margin-right: 20px;
}
.nano--tech--right{
    height: 100px;
    border-radius: 20px;
    width: 100px;
    margin-left: 20px;
}
.right--align--header{
    text-align: right;
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    font-family: 'MoongladeDemoBold-jOzM';
}
.left--align--header{
    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    font-family: 'MoongladeDemoBold-jOzM';
}
.justify--p{
    text-align: justify;
    font-size: 20px;
    font-family: minimo;
    color: white;
}

/* ===============================Third-Page================= */

.third--page{
    min-height:  100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.third--page--img{
    width: 400px;
    height: 400px;
}

.third--page--header{
    font-size: 30px;
    color: #3aa6ca;
    text-align: right;
    font-family:Minimo ;
}
.third--span--big{
    font-size: 45px;
    font-family:Minimo ;
}
.third--page--p{
    text-align: justify;
    font-family:Minimo ;
    font-size: 20px;
}
.background--text--IN{
    position: absolute;
    z-index: -20;
    left: -150px;
    top: -350px;
    font-size: 740px;
    opacity: 0.1;
    font-family: 'MoongladeDemoBold-jOzM';
  
}

/* =======================Fourth Page==================== */
.fourth--page{
    min-height:  100vh;
    background-color: rgba(0, 0, 0, 0.61) ;
    background-image: url('https://images.unsplash.com/photo-1474432978580-3d2a63f706e9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80');
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background--text--B{
    position: absolute;
    color: #f3f3f3;
    font-size: 700px;
    left: 0;
    top:  1950px;
    opacity: 0.1;
}
.fourth--grid{
    display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."; 
}
.fouth--span--big{
    font-size: 45px;
    font-family:Minimo ;
}
.fouth--header{
    text-align: left;
    color: #3aa6ca;
}
.fourth--page--p{
    text-align: justify;
    color: white; 
    font-family:Minimo ;
    font-size: 20px;
}
a:link{
    text-decoration: none;
}
/* ====================footer=================== */

.anything:hover {
    background-color: #3aa6ca;
    text-decoration: none;
}
.anything {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-left: 20px;
}
.icon_div {
    display: flex;
}

.footer--logo:hover {
    text-decoration: none;
}

.footer--head {
    color: #3aa6ca;
}

.footer--links {
    color: white;
}

.footer--links:hover {
    color: #bf3030 !important;
    text-decoration: none;
}

.icon_div {
    display: flex;
    justify-content: center;
}

.Aline_text {
    text-align: center;
}
.com_logo{
    width: 100px;
}



/* ================================= Media Queries================ */



@media screen and (min-width: 1440px){
    .background--text--B{
        top:  1850px;
    }
    .background--text--E{
        top: 500px;
    }
   .background--text--E--one{
    top: -200px;
   }
    .content--column{
      
        padding-top: 30px !important;
        margin-bottom: 70px;
    }
    .header--main,  .secound--header,.third--page--header, .fouth--header{
        font-size: 40px;
    }
    .first--p, .secound--page--p, .third--page--p, .fourth--page--p{
        font-size: 17px;
    }
   
}
@media screen and (max-width: 1024px){
    /* body{
        overflow-x: hidden;
    } */
    .background--text--B, .background--text--E, .background--text--IN, .background--text--E--one{
        display: none;

    }
    .content--column{
      
        padding-top: 30px !important;
        margin-bottom: 70px;
    }
    .header--main,  .secound--header,.third--page--header, .fouth--header{
        font-size: 40px;
    }
    .first--p, .secound--page--p, .third--page--p, .fourth--page--p{
        font-size: 17px;
    }
    .anything{
        width: 30px;
        height: 30px;
    }
}
 @media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .background--text--B, .background--text--E, .background--text--IN, .background--text--E--one{
        display: none;

    }
    .content--column{
      
        padding-top: 30px !important;
        margin-bottom: 70px;
    }
    .header--main,  .secound--header,.third--page--header, .fouth--header{
        font-size: 40px;
    }
    .first--p, .secound--page--p, .third--page--p, .fourth--page--p{
        font-size: 17px;
    }
    .anything{
        width: 30px;
        height: 30px;
    }
    .third--page--img{
        width: 300px;
        height: 300px;
        justify-content: center;
    }
    .third--page--img--col{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .nano--tech--left, .nano--tech--right {
        width: 80px;
    }
    .img--grid--left, .img--grid--right{
        width: 90px;
    }
    .left--grid--sec{
        width: 60%;
    }
    .empty--col{
        display: none;
    }
    
} 

@media screen and (max-width: 650px){
    .third--page--img{
        display: none;
    }
}

@media screen and (max-width: 425px){
    body{
        overflow-x: hidden;
    }
    .third--page--img{
        display: none;
    }
    .secound--header , .header--main, .third--page--header{
        font-size: 25px;
    }
    .fourt--page--gridTwo, .third--page--img--col{
        display: none; 
    }
    .fourth--grid{
        display: flex; 
        align-items: center;
        width: 100%;
    }
}
@media screen and (max-width: 375px){
    .fourt--page--gridTwo, .third--page--img--col, .fourt--page--gridTwo{
        display: none; 
    }
     
}
@media screen and (max-width: 320px){
    .empty--col{
        display: none;
    }
    .nano--tech--left, .nano--tech--right{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .grid--sec{
        /* display: flex; */
        align-items: center;
        justify-content: center;
    }
    .img--grid--right, .img--grid--left{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .fourt--page--gridTwo, .third--page--img--col{
        display: none; 
    }
    .fourth--grid{
        display: flex; 
        align-items: center;
        width: 100%;
    }
    
}

@media  screen and (min-device-width : 320px) and (max-device-width : 480px){
    .anything:hover {
        background-color: #3aa6ca;
        text-decoration: none;
    }

    .icon_div {
        display: flex;
    }

    .footer--logo:hover {
        text-decoration: none;
    }

    .footer--head {
        color: #3aa6ca;
    }

    .footer--links {
        color: white;
    }

    .footer--links:hover {
        color: #bf3030 !important;
        text-decoration: none;
    }

    .icon_div {
        display: flex;
        justify-content: center;
    }

    .Aline_text {
        text-align: center;
    }
}